<div class="footer">
  <div class="container">

    <div class="row">

      <div class="col-sm-12 col-md-6 clo-lg-2 ">
        <ul>
          <li class="titulo">INICIO</li>
          <li>
            <a href="#">Home</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 clo-lg-2">
        <ul>
          <li class="titulo"> QUÉ SABER</li>
          <li>
            <a href="historia">Historia de Las Navas</a>
          </li>
          <li>
            <a href="personajes">Personajes Famosos</a>
          </li>
          <li>
            <a href="entorno">Entorno</a>
          </li>
          <li>
            <a href="climatologia">Climatologia</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 clo-lg-2">
        <ul>
          <li class="titulo">QUÉ VER Y QUÉ HACER</li>
          <li>
            <a href="agenda">Agenda</a>
          </li>
          <li>
            <a href="naturaleza">Disfruta de la naturaleza</a>
          </li>
          <li>
            <a href="monumentos">Las Navas Cultural</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 clo-lg-2">
        <ul>
          <li class="titulo">PREPARA TU VIAJE</li>
          <li>
            <a href="tiempo">El tiempo</a>
          </li>
          <li>
            <a href="llegar">Como Llegar</a>
          </li>
          <li>
            <a href="comer">Donde Comer y Beber</a>
          </li>
          <li>
            <a href="alojamiento">Donde Alojarse</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>