<div class="footer">
  <div class="contenedor">

    <div class="row">

      <div class="col-sm-12 col-md-2 ">
        <ul>
          <li class="titulo" >INICIO</li>
          <li ><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2 ">
        <ul>
            <li class="titulo"> QUÉ SABER</li>
            <li><a href="historia">Historia de Las Navas</a></li>
            <li>Personajes Historicos</li>
            <li>Entorno</li>
            <li>Climatologia</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2 ">
        <ul>
          <li class="titulo">QUÉ VER Y QUÉ HACER</li>
          <li>Agenda</li>
          <li>Disfruta de la Naturaleza</li>
          <li><a href="monumentos">Las Navas Cultural</a></li>
          <li>Todo Deporta</li>
          <li>Gastronavas</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2 ">
        <ul>
          <li class="titulo">PREPARA TU VIAJE</li>
          <li>El tiempo</li>
          <li>Como Llegar</li>
          <li><a href="comer">Donde Comer</a></li>
          <li><a href=""> Donde tapear</a></li>
          <li>Donde alojarse</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2 ">
        <ul>
          <li class="titulo">NOTICIAS</li>
          <li>Noticias</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2 ">
        <ul>
          <li class="titulo">GALERIA</li>
          <li>Galeria de fotos</li>
        </ul>
      </div>

    </div>
  </div>
</div>