.grande{
    margin: 5% 0;
}
img{
    float: left;
    padding:25px
}

.grande h3{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.grande p{
    font-size: 22px;
    float: left;
}
.container{
    margin-top: 7rem !important;
}