<h2>ENTORNO DE LAS NAVAS DEL MARQUES</h2>
<div class="row">
  <p>El término municipal de las Navas del Marqués se ubica en el sureste de la provincia de Ávila, limitando al norte con la
    provincia de Segovia y al este y sureste con la comunidad de Madrid. Histórica y geográficamente se encuadra en la llamada
    Tierra de Pinares, caracterizada por la presencia habitual de la especie Pinus Pinaster, una comarca de marcado carácter
    forestal y ganadero pues prácticamente todo el conjunto está poblado por arbolado de esta especie. A ella se unen el
    roble melojo, el pino piñonero, chopos, fresnos, sauces, alisos, cedros, enebros, jaras y piornos, helechos, tomillos
    y romeros..., además de zonas adehesadas y pastizales aprovechados desde antaño por la ganadería. Junto a esta vegetación
    numerosas especies animales pueblan el término, aunque sólo las más atrevidas se dejarán observar: pequeñas aves, ardillas,
    grandes rapaces surcando el cielo…</p>
  <br>
  <p>

    Y en medio de esta naturaleza: senderos abiertos en los que el caminante puede recargar fuerzas con el agua fresca de las
    fuentes, numerosos miradores para perderse en mares verdes y azules, y lagos, presas y embalses para relajar cuerpo y
    mente.</p>
</div>