h2{
    text-align: center
}
.cuadradosInfo{
    height: 200px;
    border: 2px solid rgb(0, 255, 51);
    margin: 2% 5%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background-color:  rgb(43, 172, 11)
}
.cuadradosInfo h3{
    text-align: center;
}
.titulo{
    text-align: center;
    width: 100%;
    margin: 2% 0;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    border: none !important;
    background-color:orange;
    width: 150px;
    height: 25px;
}
.container{
    margin: 5% auto;
}
.container-fluid{
    width: auto;
    height: 400px;
    background-image: url(../../assets/slide-comer.jpg);
    text-align: center;
    color: white;
    font-size: 45px;
    padding-top: 175px;
}
