<div class="row">
   <div class="titulo"> <h2>DONDE COMER EN LAS NAVAS DEL MARQUES</h2></div>

    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Magalia</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="http://www.restaurantemagalia.com" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Mogambo</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="http://www.buscorestaurantes.com/restaurante/Mogambo-121833-0" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>La Parrila Charra</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="http://laparrillacharra.es/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Montecarlo</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="http://restaurantemontecarlo.es/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Elio's</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/pages/Restaurante-Helios/168207956551992" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Celtic Druid</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://celticdruid.es/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="titulo" > <h2>DONDE TAPEAR EN LAS NAVAS DEL MARQUES</h2></div> 
    

    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Cafeteria Europa</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/cafeteriaeuropavillafranca/?rf=179101762161655" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Cafeteria El Sauco</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="http://pasteleriaelsauco.es/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Flash Rock Bar</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/pages/biz/las-navas-del-marques/Flash-Rockbar-164690450255306/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Las Cumbres</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/pages/las-Navas-del-marqu%C3%A9s-Bar-Las-Cumbres/133285843460131" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>La Bodeguilla</h3>
            <p>El bar mas antiguo del pueblo, pequeño y acogedor</p>
            <br>
            <a href="" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Trylogia</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/trylogy-a-200305703333047/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Los 13 Roeles</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/Bar-los-roeles-383050675102588/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="titulo"> <h2>OCIO NOCTURNO EN LAS NAVAS DEL MARQUES</h2></div>

    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>Bar La Plaza</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/barlaplazalasnavas/" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>El Convento</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/discotecaconvento" class="button" target="_blank">Saber más</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cuadradosInfo">
            <img src="" alt="">
            <br>
            <h3>El Garito</h3>
            <p>Con el paso del tiempo, la historia se hace ya cercana y presente en...</p>
            <br>
            <a href="https://www.facebook.com/pages/El-Garito-Rock-Bar/1209409195785582?nr" class="button" target="_blank">Saber más</a>
        </div>
    </div>
</div>