
<div class="container-fluid">
        DONDE COMER EN LAS NAVAS DEL MARQUES
</div>

<div class="container">
    <div class="row">
        <div class="titulo">

        </div>

        <div class=" col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Restaurante Magalia</h3>
                <p>BAJO, Carretera CL-505</p>
                <br>
                <a href="http://www.restaurantemagalia.com" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Rte. Mogambo</h3>
                <p>Calle Aniceto Marinas, 29</p>
                <br>
                <a href="http://www.buscorestaurantes.com/restaurante/Mogambo-121833-0" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Restaurante La Parrila</h3>
                <p>Calle Aniceto Marinas, 27</p>
                <br>
                <a href="http://laparrillacharra.es/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3> Montecarlo</h3>
                <p>Calle García del Real, 24</p>
                <br>
                <a href="http://restaurantemontecarlo.es/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Restaurante Elio's</h3>
                <p>Avenida de Navalperal, sn</p>
                <br>
                <a href="https://www.facebook.com/pages/Restaurante-Helios/168207956551992" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Celtic Druid</h3>
                <p>Plaza Nueva, 6</p>
                <br>
                <a href="https://celticdruid.es/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="titulo">
            <h2>DONDE TAPEAR EN LAS NAVAS DEL MARQUES</h2>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Cafeteria Europa</h3>
                <p>Calle Aniceto Marinas, 25</p>
                <br>
                <a href="https://www.facebook.com/cafeteriaeuropavillafranca/?rf=179101762161655" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Cafeteria El Sauco</h3>
                <p>Avenida Principal, 124</p>
                <br>
                <a href="http://pasteleriaelsauco.es/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Flash Rock Bar</h3>
                <p>Avenida Principal, 105</p>
                <br>
                <a href="https://www.facebook.com/pages/biz/las-navas-del-marques/Flash-Rockbar-164690450255306/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Bar Las Cumbres</h3>
                <p>Calle de San Juan, 2</p>
                <br>
                <a href="https://www.facebook.com/pages/las-Navas-del-marqu%C3%A9s-Bar-Las-Cumbres/133285843460131" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Tasca La Bodeguilla</h3>
                <p>Avenida Principal, 27</p>
                <br>
                <a href="" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Bar Trylogia</h3>
                <p>Avenida Principal, 36</p>
                <br>
                <a href="https://www.facebook.com/trylogy-a-200305703333047/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Bar Los 13 Roeles</h3>
                <p>Avenida Principal, 8</p>
                <br>
                <a href="https://www.facebook.com/Bar-los-roeles-383050675102588/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Bar Nacional</h3>
                <p>Avenida Principal, 19</p>
                <br>
                <a href="https://www.facebook.com/barnacionall/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="titulo">
            <h2 id="nocturno">OCIO NOCTURNO EN LAS NAVAS DEL MARQUES</h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Bar La Plaza</h3>
                <p>Plaza de la villa, 7</p>
                <br>
                <a href="https://www.facebook.com/barlaplazalasnavas/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Discoteca El Convento</h3>
                <p> Calle Hoya Moreno, 7</p>
                <br>
                <a href="https://www.facebook.com/discotecaconvento" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cuadradosInfo">
                <h3>Pub El Garito</h3>
                <p>Calle San Martín, 13</p>
                <br>
                <a href="https://www.facebook.com/pages/El-Garito-Rock-Bar/1209409195785582?nr" class="button" target="_blank">Saber más</a>
            </div>
        </div>
    </div>
</div>