h2{
    text-align: center;
}
.cuadradosInfo{
    height: 500px;
    text-align: center;
    padding: 10px;
    margin: 3% 0 0 0;
}
.foto{
    width: 90%;
    height: 70%;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    border: none !important;
    background-color:orange;
    width: 150px;
    height: 25px;
}
.container{
    margin: 5% auto;
}
.container-fluid{
    width: auto;
    height: 400px;
    background-image: url(../../assets/slide-monumentos.jpg);
    text-align: center;
    color: white;
    font-size: 45px;
    padding-top: 175px;
}