<div class="container-fluid">
    COMO LLEGAR A LAS NAVAS DEL MARQUES
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="info">
        <h4>CARRETERA</h4>
        <p>
          <strong>Desde Ávila (35 km.):</strong>
        </p>
        <p> Toma la carretera CL-505.</p>

        <p>
          <strong>Desde Madrid (85 km.):</strong>
        </p>
        <p>Tienes dos alternativas para llegar:</p>
        <p> 1. Si vienes por la autovía AP-6 puedes tomar la salida 18 para incorporarte a la carretera M-505 en dirección a
          Las Rozas/ El Escorial y continuar por la CL-505 hasta Las Navas del Marqués. Tiempo estimado: 1 hora y 18 minutos.</p>
        <br>
        <p> 2. También desde la autovía AP-6 puedes tomar la salida 47 para incorporarte a la carretera M-600 en dirección a
          El Escorial, atravesar San Lorenzo de El Escorial, tomar la carretera M-505 en dirección a Ávila y continuar por
          la CL-505 hasta Las Navas del Marqués. Tiempo estimado: 1 hora 12 minutos</p>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 col-lg-4">
      <div class="info">
        <h4>TREN</h4>
        <p>Consulte la disponibilidad de trenes con parada en la estación de Las Navas del Marqués en Renfe. El Ayuntamiento
          dispone de servicio de autobús entre la estación y Las Navas, cuyo horario puede consultar en esta página.</p>
        <a href="http://www.renfe.com/viajeros/index.html" class="button" target="_blank">Renfe</a>
        <br>
        <br>
        <a href="https://lasnavasdelmarques.es/las-navas/bus-las-navas-estacion-ferrocarril" class="button" target="_blank">Horarios bus</a>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 col-lg-4">
      <div class="info">
        <h4>AUTOBUS</h4>
        <p>Existe una línea regular de viajeros entre Ávila y Las Navas del Marqués. Te recomendamos consultar los horarios
          en su página web o llamar por teléfono al número 685 727 250.</p>
        <br>
        <p>La línea 666 une San Lorenzo de El Escorial y Las Navas del Marqués. Puedes consultar los horarios en su página web</p>
        <a href="https://regular.autobusing.com/venta?empresa=jimenezdorado" class="button" target="_blank">Las Navas- Avila</a>
        <br>
        <br>
        <a href="http://www.crtm.es/tu-transporte-publico/autobuses-interurbanos/lineas/8__666___.aspx" class="button" target="_blank">Las Navas - Escorial</a>
      </div>
    </div>
  </div>
</div>