a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    width: 150px;
}
.info{
    text-align: center;
    border: 2px solid green;
    background-color: lightgreen;
    padding: 10px;
    margin: 2% 0 0 0;
    height: 600px;
}