<h2>CLIMATOLOGIA DE LAS NAVAS DEL MARQUES</h2>
<div class="row">
  <p>Las Navas del Marques se encuentra a una altitud de 1238 m. sobre el nivel del mar con clima marcadamente mediterráneo, las elevadas diferencias altitudinales entre las cotas superiores e inferiores del término sugieren variaciones relativamente importantes de precipitaciones y temperaturas dando lugar a una baja temperatura media, una abundancia de precipitaciones y a una mayor nubosidad, en función de la cercanía a la sierra.</p>
  <br>

     <p>Se trata de un clima con una temperatura baja extremada en invierno y fresca en verano, con una media anual entre 8º y 10º C, y una pluviosidad de 600 a 1000 mm. anuales.
      
      Al ser una zona montañosa relativamente elevada, su clima está condicionado por los efectos que la altitud y la topografía local, ejercen sobre el clima general. Destaca la baja temperatura media anual.
      
      La precipitación en forma de nieve se concentra en los meses de diciembre a febrero.</p>
</div>