h2{
    text-align: center;
    padding-top: 50px;
}
h3{
    padding-top: 10px
}
.cuadradosInfo{
    height: 115px;
    text-align: center;
    margin: 3% 0 0 0;
    background-color: #cccccc;
    border-radius: 500px
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    border: none !important;
    background-color:orange;
    width: 150px;
    height: 25px;
}


