
<div class="container-fluid">
        DONDE DORMIR EN LAS NAVAS DEL MARQUES
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="cuadradosInfo">
                <img class="foto" src="../../assets/pension-la-flor.jpe" alt="Fachada Pension La Flor">
                <br>
                <h3>Pension La Flor</h3>
                <p>Calle San Vicente, 4.</p>
                <a href="http://ruralflor.com/" class="button" target="_blank">Saber más</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="cuadradosInfo">
                <img class="foto" src="../../assets/casa-del-cura.jpe" alt="Fachada Casa del Cura">
                <br>
                <h3>La Casa del Cura</h3>
                <p>Calle Cal y Canto, 15.</p>
                <a href="https://www.booking.com/hotel/es/casa-del-cura-las-navas-del-marques.es.html" class="button" target="_blank">Saber más</a>
            </div>
        </div>
    </div>
</div>