h2{
    text-align: center;  
}
.cuadradosInfo{
    height: 450px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 10% 5%;
    text-align: center;
    padding: 10px;
}
.cuadradosInfo h3{
    text-align: center;
}
.titulo{
    text-align: center;
    width: 100%;
    margin: 2% 0;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    width: 100px;
}
.foto{
    width: 90%;
    height: 70%;
    border-radius: 25px;
}
