
.jumbotron{
    background-image: url(../../assets/navas3.jpe);
    background-size: 100% auto;
    height: 450px;
    
}
.carousel-inner img {
  
    max-height: 450px;
}

.carousel-inner{
 height: 450px;
}