
.jumbotron{
    background-size: 100%;
    width: 100%;
    align-content: center !important;
    text-align: center !important;
}

.carousel-item{
    height: auto;
}
.d-block {
    height: 100%;
    width: 100%

}
.card{
    height: 250px;
    margin: 2% 0;
    text-align: center;
}
.logos{
    height: 50px;
    width: 50px;
}
.btn{
    background-color: orange !important;
    border:1px solid orange !important;
    text-align: center;
}
h1{
    font-weight: 800;
}
h5{
    padding-top: 15px;
}

