
.jumbotron{
    background-size: 100%;
    width: 100%;
}

.carousel-item{
    height: auto;
}
.d-block {
    height: 100%;
    width: 100%

}
.card{
    height: 250px;
    margin: 2% 0;
    text-align: center;
}
.logos{
    height: 50px;
    width: 50px;
}

